* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


#app {
  height: 100%
}

html,
body {
  position: relative;
  height: 100%;
}



body {
  // background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.modalImg {
  position: relative;
}

.modalImg::after{
  background: url(https://fiverr-res.cloudinary.com/npm-assets/@fiverr/logged_out_homepage_perseus/apps/desktop-play-button.c1196d6.png) no-repeat;
  background-size: 80px;
  content: "";
  display: inline-block;
  height: 80px;
  left: 50%;
  top: 40%;
  transform: translateX(-50%);
  width: 80px;
  z-index: 1;
  position: absolute;
}

